# Web framework
Flask
Werkzeug

# Environment variables
python-dotenv

# Google Cloud SDKs
google-cloud-storage
google-cloud-bigquery

# Vertex AI / Gemini
google-cloud-aiplatform

# Audio processing
pydub

# Data validation
pydantic

# Utility
uuid
